Source: ros-kinetic-log-server
Section: misc
Priority: extra
Maintainer: Easymov Robotics <dev@easymov.fr>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://oros.io
Standards-Version: 3.9.2

Package: ros-kinetic-log-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-expiringdict, ros-kinetic-message-generation, ros-kinetic-rosgraph-msgs, ros-kinetic-rospy
Description: The log_server package
